In [1]:
import pandas as pd
housing=pd.read_csv('/content/Housing.csv')
print(housing)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                  41          880           129.0
1        -122.22     37.86                  21         7099          1106.0
2        -122.24     37.85                  52         1467           190.0
3        -122.25     37.85                  52         1274           235.0
4        -122.25     37.85                  52         1627           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                  25         1665           374.0
20636    -121.21     39.49                  18          697           150.0
20637    -121.22     39.43                  17         2254           485.0
20638    -121.32     39.43                  18         1860           409.0
20639    -121.24     39.37                  16         2785           616.0

       population  households  median_income  median_house_value  \
0             322         126         8.3252              452600
1            2401        1138         8.3014              358500
2             496         177         7.2574              352100
3             558         219         5.6431              341300
4             565         259         3.8462              342200
...           ...         ...            ...                 ...
20635         845         330         1.5603               78100
20636         356         114         2.5568               77100
20637        1007         433         1.7000               92300
20638         741         349         1.8672               84700
20639        1387         530         2.3886               89400

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 10 columns]

In [2]:
housing.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [4]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  int64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  int64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(4), int64(5), object(1)
memory usage: 1.6+ MB

In [5]:
housing['households'].shape

(20640,)

In [6]:
print(housing.isnull().sum())

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [8]:

h=housing.drop('ocean_proximity',axis=1)

In [9]:
housing['total_bedrooms'].isnull().sum()/housing.shape[0]

0.01002906976744186

In [10]:

y=housing['median_house_value']
x=housing.drop('median_house_value',axis=1)

In [11]:
print(x)
print(y)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                  41          880           129.0
1        -122.22     37.86                  21         7099          1106.0
2        -122.24     37.85                  52         1467           190.0
3        -122.25     37.85                  52         1274           235.0
4        -122.25     37.85                  52         1627           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                  25         1665           374.0
20636    -121.21     39.49                  18          697           150.0
20637    -121.22     39.43                  17         2254           485.0
20638    -121.32     39.43                  18         1860           409.0
20639    -121.24     39.37                  16         2785           616.0

       population  households  median_income ocean_proximity
0             322         126         8.3252        NEAR BAY
1            2401        1138         8.3014        NEAR BAY
2             496         177         7.2574        NEAR BAY
3             558         219         5.6431        NEAR BAY
4             565         259         3.8462        NEAR BAY
...           ...         ...            ...             ...
20635         845         330         1.5603          INLAND
20636         356         114         2.5568          INLAND
20637        1007         433         1.7000          INLAND
20638         741         349         1.8672          INLAND
20639        1387         530         2.3886          INLAND

[20640 rows x 9 columns]
0        452600
1        358500
2        352100
3        341300
4        342200
          ...
20635     78100
20636     77100
20637     92300
20638     84700
20639     89400
Name: median_house_value, Length: 20640, dtype: int64

In [12]:
print(x.shape)

(20640, 9)

In [13]:
print(y.shape)

(20640,)

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,y_train,x_test,y_test=train_test_split(x,y,test_size=0.30,random_state=40)

In [16]:

print(x_train)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
14827    -117.09     32.66                  37         1232           330.0
12640    -121.45     38.53                  34         1893           415.0
6016     -117.78     34.06                  33         1056           272.0
13650    -117.31     34.08                  37          953           231.0
13275    -117.63     34.10                  15         4799          1209.0
...          ...       ...                 ...          ...             ...
11532    -118.09     33.77                  26         5359          1508.0
16065    -122.48     37.75                  49         2203           407.0
14501    -117.23     32.86                  16         1200           468.0
14555    -117.13     32.96                  15         2267           292.0
11590    -118.01     33.78                  26         2343           377.0

       population  households  median_income ocean_proximity
14827        1086         330         1.6389      NEAR OCEAN
12640         884         395         2.1679          INLAND
6016          964         300         2.4464          INLAND
13650         611         230         1.9926          INLAND
13275        2554        1057         2.6582          INLAND
...           ...         ...            ...             ...
11532        1829        1393         1.7675       <1H OCEAN
16065        1052         405         4.4375        NEAR BAY
14501         648         443         3.0450      NEAR OCEAN
14555        1180         289         6.7120       <1H OCEAN
11590        1166         373         6.0000       <1H OCEAN

[14448 rows x 9 columns]

In [17]:
print(y_train)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
6607     -118.14     34.18                  47         3457           622.0
884      -121.97     37.54                  31         1949           344.0
9457     -123.84     39.83                  19         1461           340.0
18681    -121.82     36.86                  17         1573           272.0
4654     -118.33     34.05                  48         2405           527.0
...          ...       ...                 ...          ...             ...
3606     -118.48     34.23                  29         3354           707.0
11607    -118.01     33.80                  16         4021           701.0
12610    -121.51     38.54                  34         2815           479.0
8561     -118.41     33.93                  22         2514           605.0
203      -122.23     37.78                  52          986           258.0

       population  households  median_income ocean_proximity
6607         1700         579         3.5164       <1H OCEAN
884           986         322         4.6349       <1H OCEAN
9457          515         227         1.5278      NEAR OCEAN
18681         142          55         2.1719      NEAR OCEAN
4654         1868         502         3.3750       <1H OCEAN
...           ...         ...            ...             ...
3606         1752         650         4.5484       <1H OCEAN
11607        1488         650         5.3200       <1H OCEAN
12610        1075         471         3.9792          INLAND
8561         1225         568         4.1818       <1H OCEAN
203          1008         255         1.4844        NEAR BAY

[6192 rows x 9 columns]

In [18]:

print(x_test)

14827    114300
12640     75400
6016     128700
13650     81500
13275    122800
          ...
11532     61300
16065    329200
14501    100000
14555    240200
11590    233100
Name: median_house_value, Length: 14448, dtype: int64

In [19]:
print(y_test)

6607     226500
884      196200
9457     145800
18681    420000
4654     257800
          ...
3606     239900
11607    219500
12610    164800
8561     339700
203      119400
Name: median_house_value, Length: 6192, dtype: int64

In [20]:
x_train.shape

(14448, 9)

In [21]:
y_train.shape

(6192, 9)

In [22]:
x_test.shape

(14448,)

In [23]:

y_test.shape

(6192,)

In [24]:
from sklearn.preprocessing import MinMaxScaler

In [25]:

d=MinMaxScaler()
dd=d.fit_transform(h)

In [26]:
print(dd)

[[0.21115538 0.5674814  0.78431373 ... 0.02055583 0.53966842 0.90226638]
 [0.21215139 0.565356   0.39215686 ... 0.18697583 0.53802706 0.70824656]
 [0.21015936 0.5642933  1.         ... 0.02894261 0.46602805 0.69505074]
 ...
 [0.31175299 0.73219979 0.31372549 ... 0.07104095 0.08276438 0.15938285]
 [0.30179283 0.73219979 0.33333333 ... 0.05722743 0.09429525 0.14371281]
 [0.30976096 0.72582359 0.29411765 ... 0.08699227 0.13025338 0.15340349]]